

body {

    background-color: aqua !important;
    text-align: center;
}

p {
    color: maroon;
    background-color: rgb(238, 212, 12);
    border-radius: 70%;
    padding: 1%;
}

h1 {
    display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: center;
  padding: 60px;
  background: #13293d;
  color: #fff;
  border-radius: 70%;
}

h2 {
    display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: center;
  padding: 15px;
  border-radius: 60%;
  background: #13293d;
  color: #fff;

}

button {

  /* Defines how to distribute the empty space between child elements */
  padding: 40px;
  background: #13293d;
  color: #fff;   
  border-radius: 70%;
}

input {
    padding: 15px;
    color: #fff;  
    border-radius: 70%;    
}